:root{
    --white:white;
    --text:hsl(158, 4%, 59%);
    --green:rgb(142, 198, 179 );
    --dark-green:hsl(158, 81%, 33%);
}

*{
    margin: 0;
}

body{
    background-color: var(--green);
}

#header.img{
    width: 60px;
    object-fit: contain;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--text);
    padding: 0 10px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.service{
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#email-section{
    margin-top: 100px;
}

input{
    padding: 8px;
    border-radius: 5%;
    border: 1px solid var(--dark-green);
}

#submit{
    background-color: var(--dark-green);
    color: var(--white);
    cursor: pointer;
}

section::before{
    display: block;
    content: " ";
    margin-top: -50px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section{
    margin: 40px 20px;
    text-align: center;
}









